
@if (check)
{
    <div class="card">
        <div class="card-header">
            @_blogDto.Name    
        </div>
        <div class="card-body">
            <h5 class="card-title">Author : @(_userDto.Firstname +" " + _userDto.Lastname)</h5>
            <p class="card-text">@_blogDto.Description</p>
            <a href="#" class="btn btn-primary">See Posts</a>
        </div>
    </div>
}
else
{
    <ErrorDisplay ErrorMessage="@errorMessage"></ErrorDisplay>
}


@code {
    [Parameter]
    public int BlogId { get; set; }
    [Parameter]
    public Guid UserId { get; set; }
    
    private BlogDto? _blogDto = new();
    string? errorMessage;
    bool check;
    UserDto _userDto;
    protected  override async Task OnInitializedAsync()
    {
         (_blogDto, errorMessage,  check) = await BlogIntegration.GetNotRelatedBlogById(UserId,BlogId);
         if (check)
         {
             _userDto = await UserIntegration.GetUserById(_blogDto.UserId);
         }
    }

}