@page "/myBlogs"
@using Blog.Client.Pages.Components
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@if (_check)
{
    @if (_blogDtos is null || _blogDtos.Count == 0)
    {
        <h3>You don't have any blogss</h3>
    }
    else
    {
        <BlogTableComponent Models="_blogDtos" ></BlogTableComponent>
    }
}

@code {

    private Guid UserId { get; set; }
    private List<BlogDto>? _blogDtos { get; set; }
    private string? _errorMessage { get; set; }
    private bool _check { get; set; }
    private CustomAuthStateProvider _authState;
    protected override async Task OnInitializedAsync()
    {
        UserId = await UserSettings.GetUserId();
        (_blogDtos, _errorMessage, _check) = await BlogIntegration.GetMyBlogs(UserId);
        _authState = (CustomAuthStateProvider)AuthenticationState;

        var state = await _authState.GetAuthenticationStateAsync();

    }

}
