@page "/myBlogs"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@if (_check)
{
    @if (_blogDtos is null || _blogDtos.Count == 0)
    {
        <h3>You don't have any blogss</h3>
    }
    else
    {
        <BlogTableComponent Blogs="_blogDtos" IsMyBlog="true" ></BlogTableComponent>
        <br/>
        <a href="/postmyblog" class="btn btn-success">Add Blog</a>
    }
}

@code {

    private Guid UserId { get; set; }
    private List<BlogDto>? _blogDtos { get; set; }
    private string? _errorMessage { get; set; }
    private bool _check { get; set; }
    private CustomAuthStateProvider _authState;
    private string AuthorFullname;
    protected override async Task OnInitializedAsync()
    {
        UserId = await UserSettings.GetUserId();
        (_blogDtos, _errorMessage, _check) = await BlogIntegration.GetMyBlogs(UserId);

        var user = await UserIntegration.GetUserById(UserId);
        _authState = (CustomAuthStateProvider)AuthenticationState;

        var state = await _authState.GetAuthenticationStateAsync();

    }

}
