<div>
    <h3 class="mb-5">Blog Details</h3>
    @if (isMyBlog)
    {
        <a href="/edit-my-blog/@Blog.Id" class="btn btn-primary">Edit my blog</a>
        <a href="/delete-my-blog/@Blog.Id" class="btn btn-danger">Delete my blog</a>
    }
</div>
<br/>
<div class="col-md-6 mb-4">
    <img class="img-fluid" @*src="@Blog.ImageURL" *@ src="https://img.freepik.com/free-photo/online-message-blog-chat-communication-envelop-graphic-icon-concept_53876-139717.jpg" />
</div>
<div class="col-md-6">
    <h3>@Blog.Name</h3>
    <p class="mb-4">@Blog.Description</p>
    <p class="mb-4">
        <b>
            @AuthorName
        </b>
    </p>
    <div>
        <p>Posts</p>
        <PostTableComponent _posts="@Blog.Posts"></PostTableComponent>
    </div>
</div>

@code
{
    [Parameter] public BlogDto Blog { get; set; }
    [Parameter] public string AuthorName { get; set; }
    private Guid _userId { get; set; }
    private bool isMyBlog { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _userId = await UserSettings.GetUserId();
        isMyBlog = _userId == Blog.UserId;
    }
}
