@page "/all-posts"
@if (_posts == null || _posts.Count == 0)
{
    <p>Loading blogs...</p>
}
else
{
    <PostTableComponent _posts="@_posts"></PostTableComponent>
}

@code {

    private List<PostDto>? _posts;

    protected override async Task OnInitializedAsync()
    {
        _posts = await PostIntegration.GetAllPosts();
    }

}
