@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<CascadingAuthenticationState>
    <AuthorizeView>
        <Authorized>
            @Body
        </Authorized>
        <NotAuthorized>
            @if (!isRedirecting)
            {
                <p>Redirecting</p>
                NavigationManager.NavigateTo("/login");
            }
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code
{
    private bool isRedirecting = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

    }
}

@*<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a class="btn btn-primary" href="/login" target="_blank">Login</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>*@
