@page "/"
@using Blog.Common.Dtos

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>
@if (_users != null || _users.Count != 0)
{
    
        <table style="width:100%">
            <tr>
                <th>UserId</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Username</th>
            </tr>
            @foreach (var user in _users)
            {
                <tr>
                    <td>@user.Id</td>
                    <td>@user.Firstname</td>
                    <td>@user.Lastname</td>
                    <td>@user.Username</td>
                </tr>
            }
        </table>
    
}

@code
{
    
    
}
